<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="pl">
    <head>
        <title>Kontakt - Taskify</title>
    </head>

    <body>
    <main layout:fragment="content">
        <section class="container my-5 py-5">
            <div class="row g-5">
                <div class="col-md-6 order-2 order-md-1">
                    <h1 class="display-3 fw-bold text-warning">Skontaktuj się z nami!</h1>
                    <p class="lead my-4 fs-3 text-muted">
                        Masz pomysł na funkcje, które mogłyby ułatwić planowanie i zarządzanie zadaniami? Razem przekształcimy Twoje potrzeby w rzeczywistość! <span class="fw-bold">Napisz już teraz!</span>
                    </p>
                    <div class="border rounded shadow overflow-hidden">
                        <iframe src="https://maps.google.com/maps?q=Collegium+Witelona,+Legnica&t=&z=13&ie=UTF8&iwloc=&output=embed"
                                width="100%" height="300" style="border:0;"
                                allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"
                                title="Mapa lokaliacji uczelni">
                        </iframe>
                    </div>

                    <div class="row gy-4 text-center mt-4">
                        <div class="col-6 col-lg-4">
                            <i class="bi bi-geo-alt-fill fs-1 text-warning"></i>
                            <div class="h5 mt-2 text-muted">Sejmowa 5A</div>
                            <div class="h5 mt-2 text-muted">59-220 Legnica</div>
                        </div>
                        <div class="col-6 col-lg-4">
                            <i class="bi bi-envelope-fill fs-1 text-warning"></i>
                            <div class="h5 mt-2 text-muted"> <a class="text-decoration-none text-reset" href="mailto:uczelnia@collegiumwitelona.pl">uczelnia<br>@collegiumwitelona.pl></a></div>
                        </div>
                        <div class="col-6 col-lg-4">
                            <i class="bi bi-telephone-fill fs-1 text-warning"></i>
                            <div class="h5 mt-2 text-muted"> <a class="text-decoration-none text-reset" href="tel:+48 767 232 150"> +48 767 232 150</a></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 order-1 order-md-2">
                    <div class="card shadow border-0 rounded-5">
                        <div class="card-body p-5">
                            <form>
                                <div class="mb-4">
                                    <label for="email" class="form-label fs-3">E-mail</label>
                                    <input type="email" class="form-control form-control-lg bg-light fs-5 p-3" id="email" required>
                                </div>
                                <div class="mb-4">
                                    <label for="subject" class="form-label fs-3">Temat</label>
                                    <input type="text" class="form-control form-control-lg bg-light fs-5 p-3" id="subject" required>
                                </div>
                                <div class="mb-4">
                                    <label for="message" class="form-label fs-3">Wiadomość</label>
                                    <textarea class="form-control form-control-lg bg-light fs-5 p-3" id="message" rows="6" required></textarea>
                                </div>
                                <div class="form-check mb-4">
                                    <input type="checkbox" class="form-check-input" id="privacyPolicy" required>
                                    <label for="privacyPolicy" class="form-check-label fs-5 text-muted">
                                        Akceptuję <a href="#" class="link-warning">politykę prywatności</a> i wyrażam zgodę na przetwarzanie moich danych osobowych.
                                    </label>
                                </div>
                                <button type="submit" class="btn btn-warning text-white fw-bold px-4 py-2 w-100 fs-3 rounded-5 mb-4">Wyślij wiadomość</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    </body>
</html>