<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title layout:fragment="title">Taskify - Planowanie nigdy nie było prostsze!</title>
</head>
<body>
    <main layout:fragment="content">
        <section class="bg-light text-dark px-5 text-center text-sm-start mb-0 pb-0">
            <div class="container">
                <div class="d-sm-flex align-items-center justify-content-between">
                    <div>
                        <h1 class="display-1 fw-bold"><span class="text-warning">Zorganizuj</span> swój dzień</h1>
                        <p class="lead my-4 fs-2 fw-normal text-muted">
                            Wyznacz priorytety, ustal jasny plan i działaj świadomie.
                            Osiągaj codzienne cele szybciej niż kiedykolwiek.
                        </p>
                        <a class="btn btn-lg btn-md btn-sm btn-warning text-white fw-bold rounded-4 main-btn fs-2" th:href="@{/register}" role="button">Zacznij za darmo</a>
                    </div>
                    <img class="img-fluid w-50 d-none d-sm-block" th:src="@{/images/landingpage.svg}" alt="Ilustracja">
                </div>
            </div>
        </section>

        <svg class="wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#f8f9fa" fill-opacity="1" d="M0,192L60,213.3C120,235,240,277,360,245.3C480,213,600,107,720,96C840,85,960,171,1080,192C1200,213,1320,171,1380,149.3L1440,128L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path>
        </svg>

        <section class="steps container-custom">
            <div class="row g-0">
                <div class="col-12 col-sm-6 d-md-flex justify-content-md-center">
                    <img th:src="@{/images/feature.png}" alt="PLACEHOLDER2 Screen z funkcjonalnosci1" class="img-fluid py-4 steps_section-thumbnail mt-3 mr-md-3" loading="lazy" >
                </div>
                <div class="col-12 col-sm-6 align-self-center justify-content-md-center">
                    <div class="steps_content-width ">
                        <p class="text-danger fs-4 fw-bold">Oczyść umysł</p>
                        <h1 class="h2  text-bold fs-1 fw-bold">Twórz zadania błyskawicznie</h1>
                        <p class="mb-4 text-muted fs-3">Nasza aplikacja to prosty i intuicyjny menedżer zadań. Dodawaj i porządkuj swoje myśli w formie zadań w kilka kliknięć — zawsze pod ręką, gotowy by pomóc Ci działać skutecznie.</p>
                    </div>
                </div>
            </div>

            <div class="row g-0">
                <div class="col-12 col-sm-6 d-md-flex justify-content-md-center order-sm-1">
                    <img th:src="@{/images/feature1.png}" alt="PLACEHOLDER2 Screen z funkcjonalnosci1" class="img-fluid py-4 steps_section-thumbnail mt-3 mr-md-3" loading="lazy" >
                </div>
                <div class="col-12 col-sm-6 align-self-center justify-content-md-center">
                    <div class="steps_content-width">
                        <p class="text-primary fs-4 fw-bold">Skoncentruj się na tym, co ważne</p>
                        <h1 class="h2 mb-4 text-bold fs-1 fw-bold">Pełna kontrola nad zadaniami</h1>
                        <p class="mb-4 text-muted fs-3">Planuj dzień, tydzień, a nawet całe projekty. Korzystaj z filtrów i list tematycznych, by w każdej chwili widzieć tylko to, co naprawdę wymaga Twojej uwagi. Bez chaosu — z jasnym planem.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row g-0">
                <div class="col-12 col-sm-6 d-md-flex justify-content-md-center">
                    <img th:src="@{/images/feature2.png}" alt="PLACEHOLDER2 Screen z funkcjonalnosci1" class="img-fluid py-4 steps_section-thumbnail mt-3 mr-md-3" loading="lazy"x>
                </div>
                <div class="col-12 col-sm-6 align-self-center justify-content-md-center">
                    <div class="steps_content-width">
                        <p class="text-success fs-4 fw-bold">Planuj efektywnie</p>
                        <h1 class="h2 mb-4 text-bold fs-1 fw-bold">Zadbaj o mądre planowanie</h1>
                        <p class="mb-4 text-muted fs-3">Dodawaj zadania z terminami i przypomnieniami. Organizuj je według priorytetów lub w widoku kalendarza. Ustalaj powtarzalne cykle i miej pewność, że nic Ci nie umknie.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>
