<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<footer th:fragment="footer" class="d-flex flex-wrap justify-content-center justify-content-md-between align-items-center py-4 mt-4 border-top bg-dark w-100 px-3">

    <div class="col-12 col-md-4 d-flex justify-content-center justify-content-md-start align-items-center mb-2 mb-md-0">
        <span class="text-white fw-bold">© 2025 Taskify</span>
    </div>

    <ul class="nav col-12 col-md-4 justify-content-center justify-content-md-end list-unstyled d-flex">
        <li class="ms-3 ms-sm-4">
            <a th:href="@{https://x.com}" class="text-white" target="_blank">
                <i class="bi bi-twitter-x" aria-hidden="true"></i>
                <span class="visually-hidden">X (dawniej Twitter)</span>
            </a>
        </li>
        <li class="ms-3 ms-sm-4">
            <a th:href="@{https://instagram.com}" class="text-white" target="_blank">
                <i class="bi bi-instagram" aria-hidden="true"></i>
                <span class="visually-hidden">Instagram</span>
            </a>
        </li>
        <li class="ms-3 ms-sm-4">
            <a th:href="@{https://facebook.com}" class="text-white" target="_blank">
                <i class="bi bi-facebook" aria-hidden="true"></i>
                <span class="visually-hidden">Facebook</span>
            </a>
        </li>
    </ul>

</footer>

</body>
</html>